@charset "UTF-8";
html, body {
  position: relative;
  height: 100%;
  font-size: 14px;
  line-height: 1em;
  color: #333; }
:focus {
  outline: 0; }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
  margin: 0;
  -webkit-font-smoothing: antialiased; }
h1.title {
  font-size: 30px; }
h2.title {
  font-size: 24px; }
h3.title {
  font-size: 20px; }
h4.title {
  font-size: 16px; }
.l-aside {
  width: 240px; }
.l-header {
  height: 80px;
  min-width: 1100px; }
.l-footer {
  background-color: #41A5C0;
  color: #FCFEFB; }
.l-footer .l-footer_block {
    height: 100px; }
.l-footer .l-footer_block--under {
    padding: 10px 0;
    background-color: #133F50;
    text-align: center;
    font-weight: bold; }
.l-main {
  width: 810px; }
.l-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FCFEFB;
  min-width: 1000px; }
.c-button {
  width: 100%;
  display: inline-block;
  padding: 15px;
  text-align: center;
  background-color: #D85A60;
  color: #FCFEFB;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 0 #cd2d35;
          box-shadow: 0 4px 0 #cd2d35; }
.c-button:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: translate3d(0, 3px, 0);
            transform: translate3d(0, 3px, 0); }
.c-companyIpoCalender .c-companyIpoCalender_header {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #133F50;
  color: white;
  font-weight: bold; }
.c-companyIpoCalender .c-companyIpoCalender_header .c-companyIpoCalender_header-prev,
  .c-companyIpoCalender .c-companyIpoCalender_header .c-companyIpoCalender_header-next {
    cursor: pointer;
    padding: 0 15px; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table thead {
    background-color: #eee; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table thead th {
      padding: 5px 0; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date {
    position: relative;
    text-align: right;
    vertical-align: top;
    height: 42px;
    font-size: 12px;
    line-height: 17px;
    border: 1px solid #eee; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.prev, .c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.next {
      color: #ccc; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.today span {
      background-color: #41A5C0;
      color: #ffffff;
      font-weight: bold;
      display: inline-block;
      border-radius: 50%; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.bbPeriod::before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      height: 17px;
      width: 100%;
      background-color: yellow; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.bbPeriod--start::before {
      content: 'BB\671F\9593';
      position: absolute;
      bottom: 5px;
      left: 5px;
      height: 17px;
      width: 93%;
      line-height: 17px;
      background-color: yellow;
      text-align: left;
      padding-left: 5px;
      font-weight: bold;
      border-radius: 3px 0 0 3px; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.bbPeriod--end::before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      height: 17px;
      width: 90%;
      background-color: yellow;
      border-radius: 0 3px 3px 0; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.pPeriod::before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      height: 17px;
      width: 100%;
      background-color: cadetblue; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.pPeriod--start::before {
      content: '\8CFC\5165\671F\9593';
      position: absolute;
      bottom: 5px;
      left: 5px;
      height: 17px;
      width: 93%;
      line-height: 17px;
      background-color: cadetblue;
      text-align: left;
      padding-left: 5px;
      font-weight: bold;
      border-radius: 3px 0 0 3px; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.pPeriod--end::before {
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      height: 17px;
      width: 90%;
      background-color: cadetblue;
      border-radius: 0 3px 3px 0; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.isWinningDate::before {
      content: '\5F53\9078\767A\8868';
      text-align: center;
      position: absolute;
      bottom: 5px;
      left: 4px;
      height: 17px;
      width: 90%;
      line-height: 17px;
      background-color: red;
      border-radius: 3px;
      font-weight: bold; }
.c-companyIpoCalender .c-companyIpoCalender_body .c-companyIpoCalender_body-table .c-companyIpoCalender_date.isListingDate::before {
      content: '\4E0A\5834';
      text-align: center;
      position: absolute;
      bottom: 5px;
      left: 4px;
      height: 17px;
      width: 90%;
      line-height: 17px;
      background-color: red;
      border-radius: 3px;
      font-weight: bold; }
.c-ipoInfo {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px; }
.c-ipoInfo .c-ipoInfo_header {
    margin-top: 5px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
.c-ipoInfo .c-ipoInfo_header .c-ipoInfo_companyName {
      color: #41A5C0;
      text-decoration: none; }
.c-ipoInfo .c-ipoInfo_header .c-ipoInfo_companyName:hover {
        text-decoration: underline; }
.c-ipoInfo .c-ipoInfo_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.c-ipoInfo .c-ipoInfo_body .c-ipoInfo_bodyLeft {
      width: 65%; }
.c-ipoInfo .c-ipoInfo_body .c-ipoInfo_bodyRight {
      width: 35%;
      padding: 0 5px 0 15px; }
.c-ipoInfo .c-ipoInfo_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
.c-ipoInfo .c-ipoInfo_table tr {
      border-bottom: 1px solid #eee; }
.c-ipoInfo .c-ipoInfo_table th {
      width: 50%;
      padding: 10px;
      font-weight: normal;
      letter-spacing: 1px;
      text-align: left; }
.c-ipoInfo .c-ipoInfo_table td {
      text-align: right; }
.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.c-pagination .c-pagination_link {
    text-decoration: none;
    font-weight: bold;
    color: #41A5C0; }
.c-pagination .c-pagination_page {
    padding: 10px;
    border-radius: 3px; }
.c-pagination .c-pagination_page.is-active {
      background-color: #133F50; }
.c-pagination .c-pagination_page.is-active .c-pagination_link {
        color: #ffffff; }
.p-company {
  padding: 20px;
  background-color: #ffffff;
  margin: 30px 0; }
.p-company .p-company_title {
    border-bottom: 3px solid #41A5C0;
    padding-bottom: 16px;
    line-height: 1; }
.p-company .p-company_listingDate {
    background-color: #D85A60;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px; }
.p-company .p-company_mainTable {
    width: 100%;
    padding: 10px 0;
    font-size: 15px; }
.p-company .p-company_mainTable th {
      padding: 17px 5px;
      vertical-align: top;
      width: 125px;
      border-bottom: 1px dashed #aaa; }
.p-company .p-company_mainTable td {
      line-height: 1.4;
      letter-spacing: 0.3px;
      border-bottom: 1px dashed #aaa; }
.p-company .p-company_captionTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
.p-company .p-company_captionTable th {
      padding: 10px;
      background-color: #41A5C0;
      color: #ffffff; }
.p-company .p-company_captionTable td {
      padding: 17px 5px;
      border-bottom: 1px dashed #aaa; }
.p-company .p-company_captionTable td.isMain {
        font-weight: bold; }
.p-company .p-company_captionTable td.isMain .p-company_secretaryName {
          position: relative; }
.p-company .p-company_captionTable td.isMain .p-company_secretaryName::after {
            position: absolute;
            top: -4px;
            right: -60px;
            content: '\4E3B\5E79\4E8B';
            color: #FCFEFB;
            background-color: #D85A60;
            padding: 4px;
            border-radius: 3px;
            font-size: 12px; }
.p-company .p-company_h3 {
    border-left: 3px solid #41A5C0;
    padding: 3px 10px;
    margin: 0; }
.u-textCenter {
  text-align: center; }
.u-textLeft {
  text-align: left; }
.u-textRight {
  text-align: right; }
.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.u-justifyContentCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.u-justifyContentBetween {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.u-justifyContentAround {
  -ms-flex-pack: distribute;
      justify-content: space-around; }
.u-justifyContentStart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
.u-justifyContentEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.u-alignItemsCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.u-alignItemsBaseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
.u-alignItemsStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
.u-alignItemsEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
.u-shadow {
  -webkit-box-shadow: 0 5px 20px rgba(99, 99, 99, .1);
          box-shadow: 0 5px 20px rgba(99, 99, 99, .1); }
.u-w100 {
  width: 100%; }
.u-w50 {
  width: 50%; }
.u-mC {
  margin-right: auto;
  margin-left: auto; }
.u-m0 {
  margin: 0; }
.u-m0a {
  margin: 0 auto; }
.u-m0 {
  margin: 0px; }
.u-m5 {
  margin: 5px; }
.u-m10 {
  margin: 10px; }
.u-m15 {
  margin: 15px; }
.u-m20 {
  margin: 20px; }
.u-m25 {
  margin: 25px; }
.u-m30 {
  margin: 30px; }
.u-m35 {
  margin: 35px; }
.u-m40 {
  margin: 40px; }
.u-m45 {
  margin: 45px; }
.u-m50 {
  margin: 50px; }
.u-m55 {
  margin: 55px; }
.u-m60 {
  margin: 60px; }
.u-m65 {
  margin: 65px; }
.u-m70 {
  margin: 70px; }
.u-m75 {
  margin: 75px; }
.u-m80 {
  margin: 80px; }
.u-m85 {
  margin: 85px; }
.u-m90 {
  margin: 90px; }
.u-m95 {
  margin: 95px; }
/* Top Margin */
.u-mT0 {
  margin-top: 0px; }
.u-mT5 {
  margin-top: 5px; }
.u-mT10 {
  margin-top: 10px; }
.u-mT15 {
  margin-top: 15px; }
.u-mT20 {
  margin-top: 20px; }
.u-mT25 {
  margin-top: 25px; }
.u-mT30 {
  margin-top: 30px; }
.u-mT35 {
  margin-top: 35px; }
.u-mT40 {
  margin-top: 40px; }
.u-mT45 {
  margin-top: 45px; }
.u-mT50 {
  margin-top: 50px; }
.u-mT55 {
  margin-top: 55px; }
.u-mT60 {
  margin-top: 60px; }
.u-mT65 {
  margin-top: 65px; }
.u-mT70 {
  margin-top: 70px; }
.u-mT75 {
  margin-top: 75px; }
.u-mT80 {
  margin-top: 80px; }
.u-mT85 {
  margin-top: 85px; }
.u-mT90 {
  margin-top: 90px; }
.u-mT95 {
  margin-top: 95px; }
/* Right Margin */
.u-mR0 {
  margin-right: 0px; }
.u-mR5 {
  margin-right: 5px; }
.u-mR10 {
  margin-right: 10px; }
.u-mR15 {
  margin-right: 15px; }
.u-mR20 {
  margin-right: 20px; }
.u-mR25 {
  margin-right: 25px; }
.u-mR30 {
  margin-right: 30px; }
.u-mR35 {
  margin-right: 35px; }
.u-mR40 {
  margin-right: 40px; }
.u-mR45 {
  margin-right: 45px; }
.u-mR50 {
  margin-right: 50px; }
.u-mR55 {
  margin-right: 55px; }
.u-mR60 {
  margin-right: 60px; }
.u-mR65 {
  margin-right: 65px; }
.u-mR70 {
  margin-right: 70px; }
.u-mR75 {
  margin-right: 75px; }
.u-mR80 {
  margin-right: 80px; }
.u-mR85 {
  margin-right: 85px; }
.u-mR90 {
  margin-right: 90px; }
.u-mR95 {
  margin-right: 95px; }
/* Bottom Margin */
.u-mB0 {
  margin-bottom: 0px; }
.u-mB5 {
  margin-bottom: 5px; }
.u-mB10 {
  margin-bottom: 10px; }
.u-mB15 {
  margin-bottom: 15px; }
.u-mB20 {
  margin-bottom: 20px; }
.u-mB25 {
  margin-bottom: 25px; }
.u-mB30 {
  margin-bottom: 30px; }
.u-mB35 {
  margin-bottom: 35px; }
.u-mB40 {
  margin-bottom: 40px; }
.u-mB45 {
  margin-bottom: 45px; }
.u-mB50 {
  margin-bottom: 50px; }
.u-mB55 {
  margin-bottom: 55px; }
.u-mB60 {
  margin-bottom: 60px; }
.u-mB65 {
  margin-bottom: 65px; }
.u-mB70 {
  margin-bottom: 70px; }
.u-mB75 {
  margin-bottom: 75px; }
.u-mB80 {
  margin-bottom: 80px; }
.u-mB85 {
  margin-bottom: 85px; }
.u-mB90 {
  margin-bottom: 90px; }
.u-mB95 {
  margin-bottom: 95px; }
/* Left Margin */
.u-mL0 {
  margin-left: 0px; }
.u-mL5 {
  margin-left: 5px; }
.u-mL10 {
  margin-left: 10px; }
.u-mL15 {
  margin-left: 15px; }
.u-mL20 {
  margin-left: 20px; }
.u-mL25 {
  margin-left: 25px; }
.u-mL30 {
  margin-left: 30px; }
.u-mL35 {
  margin-left: 35px; }
.u-mL40 {
  margin-left: 40px; }
.u-mL45 {
  margin-left: 45px; }
.u-mL50 {
  margin-left: 50px; }
.u-mL55 {
  margin-left: 55px; }
.u-mL60 {
  margin-left: 60px; }
.u-mL65 {
  margin-left: 65px; }
.u-mL70 {
  margin-left: 70px; }
.u-mL75 {
  margin-left: 75px; }
.u-mL80 {
  margin-left: 80px; }
.u-mL85 {
  margin-left: 85px; }
.u-mL90 {
  margin-left: 90px; }
.u-mL95 {
  margin-left: 95px; }
/* X Margin */
.u-mX0 {
  margin-right: 0px;
  margin-left: 0px; }
.u-mX5 {
  margin-right: 5px;
  margin-left: 5px; }
.u-mX10 {
  margin-right: 10px;
  margin-left: 10px; }
.u-mX15 {
  margin-right: 15px;
  margin-left: 15px; }
.u-mX20 {
  margin-right: 20px;
  margin-left: 20px; }
.u-mX25 {
  margin-right: 25px;
  margin-left: 25px; }
.u-mX30 {
  margin-right: 30px;
  margin-left: 30px; }
.u-mX35 {
  margin-right: 35px;
  margin-left: 35px; }
.u-mX40 {
  margin-right: 40px;
  margin-left: 40px; }
.u-mX45 {
  margin-right: 45px;
  margin-left: 45px; }
.u-mX50 {
  margin-right: 50px;
  margin-left: 50px; }
.u-mX55 {
  margin-right: 55px;
  margin-left: 55px; }
.u-mX60 {
  margin-right: 60px;
  margin-left: 60px; }
.u-mX65 {
  margin-right: 65px;
  margin-left: 65px; }
.u-mX70 {
  margin-right: 70px;
  margin-left: 70px; }
.u-mX75 {
  margin-right: 75px;
  margin-left: 75px; }
.u-mX80 {
  margin-right: 80px;
  margin-left: 80px; }
.u-mX85 {
  margin-right: 85px;
  margin-left: 85px; }
.u-mX90 {
  margin-right: 90px;
  margin-left: 90px; }
.u-mX95 {
  margin-right: 95px;
  margin-left: 95px; }
/* Y Margin */
.u-mY0 {
  margin-top: 0px;
  margin-bottom: 0px; }
.u-mY5 {
  margin-top: 5px;
  margin-bottom: 5px; }
.u-mY10 {
  margin-top: 10px;
  margin-bottom: 10px; }
.u-mY15 {
  margin-top: 15px;
  margin-bottom: 15px; }
.u-mY20 {
  margin-top: 20px;
  margin-bottom: 20px; }
.u-mY25 {
  margin-top: 25px;
  margin-bottom: 25px; }
.u-mY30 {
  margin-top: 30px;
  margin-bottom: 30px; }
.u-mY35 {
  margin-top: 35px;
  margin-bottom: 35px; }
.u-mY40 {
  margin-top: 40px;
  margin-bottom: 40px; }
.u-mY45 {
  margin-top: 45px;
  margin-bottom: 45px; }
.u-mY50 {
  margin-top: 50px;
  margin-bottom: 50px; }
.u-mY55 {
  margin-top: 55px;
  margin-bottom: 55px; }
.u-mY60 {
  margin-top: 60px;
  margin-bottom: 60px; }
.u-mY65 {
  margin-top: 65px;
  margin-bottom: 65px; }
.u-mY70 {
  margin-top: 70px;
  margin-bottom: 70px; }
.u-mY75 {
  margin-top: 75px;
  margin-bottom: 75px; }
.u-mY80 {
  margin-top: 80px;
  margin-bottom: 80px; }
.u-mY85 {
  margin-top: 85px;
  margin-bottom: 85px; }
.u-mY90 {
  margin-top: 90px;
  margin-bottom: 90px; }
.u-mY95 {
  margin-top: 95px;
  margin-bottom: 95px; }
/* Padding */
.u-p0 {
  padding: 0; }
.u-p0 {
  padding: 0px; }
.u-p5 {
  padding: 5px; }
.u-p10 {
  padding: 10px; }
.u-p15 {
  padding: 15px; }
.u-p20 {
  padding: 20px; }
.u-p25 {
  padding: 25px; }
.u-p30 {
  padding: 30px; }
.u-p35 {
  padding: 35px; }
.u-p40 {
  padding: 40px; }
.u-p45 {
  padding: 45px; }
.u-p50 {
  padding: 50px; }
.u-p55 {
  padding: 55px; }
.u-p60 {
  padding: 60px; }
.u-p65 {
  padding: 65px; }
.u-p70 {
  padding: 70px; }
.u-p75 {
  padding: 75px; }
.u-p80 {
  padding: 80px; }
.u-p85 {
  padding: 85px; }
.u-p90 {
  padding: 90px; }
.u-p95 {
  padding: 95px; }
/* Top Padding */
.u-pT0 {
  padding-top: 0px; }
.u-pT5 {
  padding-top: 5px; }
.u-pT10 {
  padding-top: 10px; }
.u-pT15 {
  padding-top: 15px; }
.u-pT20 {
  padding-top: 20px; }
.u-pT25 {
  padding-top: 25px; }
.u-pT30 {
  padding-top: 30px; }
.u-pT35 {
  padding-top: 35px; }
.u-pT40 {
  padding-top: 40px; }
.u-pT45 {
  padding-top: 45px; }
.u-pT50 {
  padding-top: 50px; }
.u-pT55 {
  padding-top: 55px; }
.u-pT60 {
  padding-top: 60px; }
.u-pT65 {
  padding-top: 65px; }
.u-pT70 {
  padding-top: 70px; }
.u-pT75 {
  padding-top: 75px; }
.u-pT80 {
  padding-top: 80px; }
.u-pT85 {
  padding-top: 85px; }
.u-pT90 {
  padding-top: 90px; }
.u-pT95 {
  padding-top: 95px; }
/* Right Padding */
.u-pR0 {
  padding-right: 0px; }
.u-pR5 {
  padding-right: 5px; }
.u-pR10 {
  padding-right: 10px; }
.u-pR15 {
  padding-right: 15px; }
.u-pR20 {
  padding-right: 20px; }
.u-pR25 {
  padding-right: 25px; }
.u-pR30 {
  padding-right: 30px; }
.u-pR35 {
  padding-right: 35px; }
.u-pR40 {
  padding-right: 40px; }
.u-pR45 {
  padding-right: 45px; }
.u-pR50 {
  padding-right: 50px; }
.u-pR55 {
  padding-right: 55px; }
.u-pR60 {
  padding-right: 60px; }
.u-pR65 {
  padding-right: 65px; }
.u-pR70 {
  padding-right: 70px; }
.u-pR75 {
  padding-right: 75px; }
.u-pR80 {
  padding-right: 80px; }
.u-pR85 {
  padding-right: 85px; }
.u-pR90 {
  padding-right: 90px; }
.u-pR95 {
  padding-right: 95px; }
/* Bottom Padding */
.u-pB0 {
  padding-bottom: 0px; }
.u-pB5 {
  padding-bottom: 5px; }
.u-pB10 {
  padding-bottom: 10px; }
.u-pB15 {
  padding-bottom: 15px; }
.u-pB20 {
  padding-bottom: 20px; }
.u-pB25 {
  padding-bottom: 25px; }
.u-pB30 {
  padding-bottom: 30px; }
.u-pB35 {
  padding-bottom: 35px; }
.u-pB40 {
  padding-bottom: 40px; }
.u-pB45 {
  padding-bottom: 45px; }
.u-pB50 {
  padding-bottom: 50px; }
.u-pB55 {
  padding-bottom: 55px; }
.u-pB60 {
  padding-bottom: 60px; }
.u-pB65 {
  padding-bottom: 65px; }
.u-pB70 {
  padding-bottom: 70px; }
.u-pB75 {
  padding-bottom: 75px; }
.u-pB80 {
  padding-bottom: 80px; }
.u-pB85 {
  padding-bottom: 85px; }
.u-pB90 {
  padding-bottom: 90px; }
.u-pB95 {
  padding-bottom: 95px; }
/* Left Padding */
.u-pL0 {
  padding-left: 0px; }
.u-pL5 {
  padding-left: 5px; }
.u-pL10 {
  padding-left: 10px; }
.u-pL15 {
  padding-left: 15px; }
.u-pL20 {
  padding-left: 20px; }
.u-pL25 {
  padding-left: 25px; }
.u-pL30 {
  padding-left: 30px; }
.u-pL35 {
  padding-left: 35px; }
.u-pL40 {
  padding-left: 40px; }
.u-pL45 {
  padding-left: 45px; }
.u-pL50 {
  padding-left: 50px; }
.u-pL55 {
  padding-left: 55px; }
.u-pL60 {
  padding-left: 60px; }
.u-pL65 {
  padding-left: 65px; }
.u-pL70 {
  padding-left: 70px; }
.u-pL75 {
  padding-left: 75px; }
.u-pL80 {
  padding-left: 80px; }
.u-pL85 {
  padding-left: 85px; }
.u-pL90 {
  padding-left: 90px; }
.u-pL95 {
  padding-left: 95px; }
/* X Padding */
.u-pX0 {
  padding-right: 0px;
  padding-left: 0px; }
.u-pX5 {
  padding-right: 5px;
  padding-left: 5px; }
.u-pX10 {
  padding-right: 10px;
  padding-left: 10px; }
.u-pX15 {
  padding-right: 15px;
  padding-left: 15px; }
.u-pX20 {
  padding-right: 20px;
  padding-left: 20px; }
.u-pX25 {
  padding-right: 25px;
  padding-left: 25px; }
.u-pX30 {
  padding-right: 30px;
  padding-left: 30px; }
.u-pX35 {
  padding-right: 35px;
  padding-left: 35px; }
.u-pX40 {
  padding-right: 40px;
  padding-left: 40px; }
.u-pX45 {
  padding-right: 45px;
  padding-left: 45px; }
.u-pX50 {
  padding-right: 50px;
  padding-left: 50px; }
.u-pX55 {
  padding-right: 55px;
  padding-left: 55px; }
.u-pX60 {
  padding-right: 60px;
  padding-left: 60px; }
.u-pX65 {
  padding-right: 65px;
  padding-left: 65px; }
.u-pX70 {
  padding-right: 70px;
  padding-left: 70px; }
.u-pX75 {
  padding-right: 75px;
  padding-left: 75px; }
.u-pX80 {
  padding-right: 80px;
  padding-left: 80px; }
.u-pX85 {
  padding-right: 85px;
  padding-left: 85px; }
.u-pX90 {
  padding-right: 90px;
  padding-left: 90px; }
.u-pX95 {
  padding-right: 95px;
  padding-left: 95px; }
/* Y Padding */
.u-pY0 {
  padding-top: 0px;
  padding-bottom: 0px; }
.u-pY5 {
  padding-top: 5px;
  padding-bottom: 5px; }
.u-pY10 {
  padding-top: 10px;
  padding-bottom: 10px; }
.u-pY15 {
  padding-top: 15px;
  padding-bottom: 15px; }
.u-pY20 {
  padding-top: 20px;
  padding-bottom: 20px; }
.u-pY25 {
  padding-top: 25px;
  padding-bottom: 25px; }
.u-pY30 {
  padding-top: 30px;
  padding-bottom: 30px; }
.u-pY35 {
  padding-top: 35px;
  padding-bottom: 35px; }
.u-pY40 {
  padding-top: 40px;
  padding-bottom: 40px; }
.u-pY45 {
  padding-top: 45px;
  padding-bottom: 45px; }
.u-pY50 {
  padding-top: 50px;
  padding-bottom: 50px; }
.u-pY55 {
  padding-top: 55px;
  padding-bottom: 55px; }
.u-pY60 {
  padding-top: 60px;
  padding-bottom: 60px; }
.u-pY65 {
  padding-top: 65px;
  padding-bottom: 65px; }
.u-pY70 {
  padding-top: 70px;
  padding-bottom: 70px; }
.u-pY75 {
  padding-top: 75px;
  padding-bottom: 75px; }
.u-pY80 {
  padding-top: 80px;
  padding-bottom: 80px; }
.u-pY85 {
  padding-top: 85px;
  padding-bottom: 85px; }
.u-pY90 {
  padding-top: 90px;
  padding-bottom: 90px; }
.u-pY95 {
  padding-top: 95px;
  padding-bottom: 95px; }
.u-bold {
  font-weight: bold; }

/*# sourceMappingURL=application-a77f482c42875e2512431f14395a3f82.css.map*/