.c-article {
  h1 {
    margin: 10px 0 12px;
    font-size: 26px;
    line-height: 1.3em;
    font-weight: 700;
  }

  h2 {
    padding-bottom: 3px;
    border-bottom: 2px solid $main-color;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.4;
  }

  a {
    color: $main-color;
  }

  img {
    width: 100%;
  }
}
