.c-ipoInfo {
  background-color: $white;
  padding: 15px;

  .c-ipoInfo_header {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-ipoInfo_body {
    display: flex;

    .c-ipoInfo_bodyLeft {
      width: 65%;
    }

    .c-ipoInfo_bodyRight {
      width: 35%;
      padding: 0 5px;
    }
  }

  .c-ipoInfo_table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    tr {
      border-bottom: 1px solid #eee;
    }

    th {
      width: 40%;
      padding: 10px;
      font-weight: normal;
      letter-spacing: 1px;
    }

    td {
      text-align: right;
    }
  }
}
