h1.title = "#{@company.name} 【#{@company.code}】"
p = @company.ipo_information.listing_date
p = @company.ipo_information.market.name
p = @company.main_secretary&.name
p = @company.industry.name
p = @company.business_content

p = @company.ipo_information.decorate.lottery_period
p = @company.ipo_information.decorate.purchase_period
p = @company.ipo_information.winning_date
p = @company.ipo_information.listing_date

p = @company.ipo_information.decorate.provisional_condition_period
p = @company.ipo_information.public_offering_price
p = @company.ipo_information.initial_price

p = @company.ipo_information.public_shares
p = @company.ipo_information.winning_shares
p = @company.ipo_information.sold_shares

- @company.secretaries.each do |secretary|
  p = secretary.securities_company.name
  p = secretary.rate

- @company.company_sales.group_by { |sales| sales.period }.each do |period, sales|
  p = period
  - sales.each do |sale|
    p = sale.amount_of_sales

- @company.shareholders.each do |shareholder|
  p
    = shareholder.name
    span = shareholder.rate
