.l-header {
  height: 50px;
  min-width: 100%;
  background-color: $main-2-color;
  padding: 10px 0;

  .l-header_logo {
    height: 30px;
  }

  .l-header_text {
    font-size: 28px;
    font-family: serif;
    line-height: 1;
    color: $base-color;
  }

  .l-header_logoLink {
    text-decoration: none;
  }
}
