.p-company {
  padding: 20px;
  background-color: $white;

  .p-company_title {
    border-bottom: 3px solid $main-color;
    padding-bottom: 16px;
    line-height: 1;
  }

  .p-company_listingDate {
    background-color: #D85A60;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
  }

  .p-company_mainTable {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;

    th {
      padding: 17px 5px;
      vertical-align: top;
      width: 125px;

      border-bottom: 1px dashed #aaa;
    }

    td {
      line-height: 1.4;
      letter-spacing: 0.3px;

      border-bottom: 1px dashed #aaa;
    }
  }

  .p-company_captionTable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      padding: 10px;
      background-color: $main-color;
      color: $white;
    }

    td {
      padding: 17px 5px;
      border-bottom: 1px dashed #aaa;

      &.isMain {
        font-weight: bold;

        .p-company_secretaryName {
          position: relative;
          &::after {
            position: absolute;
            top: -4px;
            right: -60px;
            content: '主幹事';
            color: $base-color;
            background-color: $accent-color;
            padding: 4px;
            border-radius: 3px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .p-company_h3 {
    border-left: 3px solid #41A5C0;
    padding: 3px 10px;
    margin: 0;
  }
}
