$palette: (
    'white': #ffffff,
    'black': #000000,

    base-color: #FCFEFB,
    main-color: #41A5C0,
    main-2-color: #133F50,
    accent-color: #D85A60
);

$white: map-get($palette, 'white');
$black: map-get($palette, 'black');
$base-color: map-get($palette, base-color);
$main-color: map-get($palette, main-color);
$main-2-color: map-get($palette, main-2-color);
$accent-color: map-get($palette, accent-color);
